.bg{
  Width: 100%;
  Height: 150vh;
  background-image:
    radial-gradient(
      circle at top,
      rgb(71, 71, 71),
      #303030 50%
    );
    position:relative
}

.bgImg{
  height: 150px;
  width: auto;
  border-radius: 40px;
  position: absolute;
  right: 2.5%; 
  top: 0px; 
  cursor: pointer;
}

.bgImg:hover{
  box-shadow: rgba(0, 255, 255, 0.4) 0px 2px 1px, rgba(0, 255, 255, 0.3) 0px 4px 2px, rgba(177, 40, 147, 0.2) 0px 8px 4px, rgba(177, 40, 147, 0.2) 0px 16px 8px, rgba(177, 40, 147, 0.2) 0px 32px 16px;
}

.nav{
  height: 150px;
  width: auto;
  background-image:
  radial-gradient(
    circle at left,
    rgb(48, 0, 44),
    #000000 50%
  );

}

.botonBack{
  height: 0px;
  width:0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

label{
  padding-right: 20px;
  position:absolute;
  left: 10px
}

input{
  border:0px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title{
  font-size: 3em;
  font-weight: bold;
  color:rgba(238, 130, 238, 0.514);
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  top: 35px;
  left: 10px;
  
}
.container{
  height: 650px;
  width:400px;
  background-color:rgb(241, 197, 241);
  padding-top: 25px;
  margin-top: 20px;
  border-radius: 40px;
  position: relative;
  left: 35%
}
.submitBtn{
  font-size: 1.2em;
  font-weight: bold;
  border: 2px solid;
  border-color: #000000;
  height: 60px;
  width: 180px;
  border-radius: 50px;
  position: absolute;
  bottom: 50px;
  left: 120px;
  cursor: pointer
  
}

.submitBtn:disabled{
  
  color: rgb(255, 206, 206);
  border: 0px;
  background-color: rgb(255, 0, 0);
  cursor:default
}

.error{
  border: 1px solid red;
  background-color: azure;
  border-radius: 10px;
}

.listaCont{
  height: auto;
  width:220px;
  min-height: 200px;
  background-color:rgb(241, 197, 241);
  padding-top: 25px;
  margin-top: 20px;
  border-radius: 40px;
  position: relative;
  left: 65%;
  bottom: 45%;
}

.lista{
  font-weight: bold;
}

.btnYEl{
  display: flex;
  align-items: center;
}

.genre{
  padding: 10px;
  width:220px;
  font-size: 1em;
  background-color: azure;
  display:block;
  border-radius: 40px

}

.platform{
  padding: 10px;
  width:220px;
  font-size: 1em;
  background-color: azure;
  display:block;
  border-radius: 40px
}

.botonX{
  font-size: 1em;
  font-weight: bold;
  display:inline;
  position:absolute;
  width: 40px;
  height: 25px;
  right: 5px;
  padding-bottom:30px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  color: rgb(255, 206, 206)
}

.botonX:hover{
  border: 1px solid;
  border-color: #000000;
}

select{
  border-radius: 10px;
  border: 0px;
}