@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600;700&display=swap');

/* Other font: Stick No Bills */
.App {
  text-align: center;
}

ul {
  list-style: none;
}

* {
  color:darkslategrey;
  Padding: 0;
  Margin:0;
  Box-sizing: border-box;
  font-family: 'Changa', sans-serif;
  }